
<%= simple_form_for [@prestation, @prestationligne], :html => { :class => 'form-horizontal' } do |f| %>
<% if @prestation.type_pr == 'C' %>


<%= f.association :cadre, collection: Cadre.where.not(id: Prestationligne.select('cadre_id').where("prestationlignes.prestation_id = ?", @prestation.id)), :label_method => lambda { |cadre| "#{cadre.numerobaguete}"}, :include_blank => false %>
<% end %>


<%= f.association :formatphoto, label_method: :dimention, :include_blank => false %>

<%= f.input :qte %>
<%= f.input :prix_u %>

<% if @prestation.type_pr == 'S'%>

<%= f.input :numero_prise %>
        <%= f.input :type_pl, collection: [['Sur place', 'SP'], ['Rendez-vous', 'RV']], :include_blank => false %>
        <%= f.input :color, collection: [['En couleur', 'EC'], ['Noir & Blanc', 'NB']], :include_blank => false %>
<% end %>
<div class="form-actions">
  <%= f.button :submit, :class => 'btn btn-success' %>
  
</div>
<% end %>
