<h1>Modifier les produits coché</h1>
<%= form_tag update_multiple_prestation_prestationlignes_path, method: :put do %>

    <table class="table table-striped table-hover table-condensed">
      <thead>

      </thead>
      <tbody>
      <% @prestationlignes2.each do |prestationligne| %>
          <%= simple_fields_for "prestationlignes[]", prestationligne do |f| %>
              <tr>
                <td>
                  <% if @prestation.type_pr == 'C'%>
                      <%= f.association :cadre, label_method: :numerobaguete %>
                  <% end %>
                </td>

                <td>
                  <%= f.association :formatphoto, label_method: :dimention %>
                </td>
                <td>
                  <%= f.input :qte %>
                </td>
                <td>
                  <%= f.input :qtelivre %>
                </td>
                <td>
                  <%= f.input :prix_u %>
                </td>
                <% if @prestation.type_pr == 'S' %>
                    <td>
                      <%= f.input :numero_prise %>
                    </td>
                    <td>
                      <%= f.input :type_pl, collection: [['Sur place', 'SP'], ['Rendez-vous', 'RV']] %>
                    </td>
                    <td>
                      <%= f.input :color, collection: [['En couleur', 'EC'], ['Noir & Blanc', 'NB']] %>
                    </td>
                <% end %>
              </tr>
          <% end %>
      <% end  %>
      </tbody>
    </table>

    <div class="form-actions">
      <%= submit_tag "UPDATE", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  [@prestation], :class => 'btn' %>
    </div>
<% end  %>