<%- model_class = Prestationligne -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:prestation_id) %>:</strong></dt>
  <dd><%= @prestationligne.prestation_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:qte) %>:</strong></dt>
  <dd><%= @prestationligne.qte %></dd>
  <dt><strong><%= model_class.human_attribute_name(:qtelivre) %>:</strong></dt>
  <dd><%= @prestationligne.qtelivre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:montant) %>:</strong></dt>
  <dd><%= @prestationligne.montant %></dd>
  <dt><strong><%= model_class.human_attribute_name(:numero_prise) %>:</strong></dt>
  <dd><%= @prestationligne.numero_prise %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_pl) %>:</strong></dt>
  <dd><%= @prestationligne.type_pl %></dd>
  <dt><strong><%= model_class.human_attribute_name(:etat) %>:</strong></dt>
  <dd><%= @prestationligne.etat %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              prestationlignes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_prestationligne_path(@prestationligne), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              prestationligne_path(@prestationligne),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
