<div class="row ligne1">
  <%- model_class = Prestation -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human %> contenue</h3>
</div>
</div><!-- ligne1 -->
<div class="row ligne2">
<div class="col-sm-6 blog1">
  <div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              prestations_path, :class => 'btn-xs btn-info'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_prestation_path(@prestation), :class => 'btn-xs btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              prestation_path(@prestation),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn-xs btn-danger' %>
</div>
</div>
<!-- blog1 -->

<div class="col-sm-6 blog2">
  <%= link_to t('.photo', :default => t("helpers.links.photo")),
              prestation_prestation_attachments_path(@prestation, @prestation_attachments), :class => 'btn-xs btn-info'  %>
  <%= link_to t('.pdf', :default => t("helpers.links.pdf")),
              prestation_path(@prestation, format: "pdf"), :class => 'btn-xs btn-info'  %>
</div><!-- blog2 -->

</div><!-- ligne2 -->
<div class="row ligne3">
  <div class="col-sm-6 blog1">
    <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:No) %>:</strong></dt>
    <dd class="text-danger">##-<%= @prestation.id %></dd>
    <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
    <dd><%= @prestation.date_prestation.strftime("%d %b %Y à %H:%M") %></dd>
    <% if @prestation.client_id != -1 %>
    <dt><strong><%= model_class.human_attribute_name(:client_id) %>:</strong></dt>
    <dd><%= link_to @cli.nom, client_path(@cli.id) %></dd>
    <% else %>
    <dt><strong><%= model_class.human_attribute_name(:client_libre) %>:</strong></dt>
    <dd><%= @prestation.client_libre %></dd>
    <% end %>
    <dt><strong><%= model_class.human_attribute_name(:employe_id) %>:</strong></dt>
    <dd><%= @emp.nom %></dd>
  </dl>
  </div><!-- blog1 -->

  <div class="col-sm-6 blog2">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
      <% if @prestation.type_pr == 'A'%>
      <dd><%= 'Agrandissement' %></dd>
      <% elsif @prestation.type_pr == 'C'%>
      <dd><%= 'Cadrage' %></dd>
      <% elsif @prestation.type_pr == 'S'%>
      <dd><%= 'Studio' %></dd>
      <% elsif @prestation.type_pr == 'R'%>
      <dd><%= 'Retirage' %></dd>
      <% end %>
      <dt><strong><%= model_class.human_attribute_name(:etat) %>:</strong></dt>
      <% if @prestation.etat_prestation == 'n' %>
      <dd><%= 'N-Livret' %></dd>

      <% elsif @prestation.etat_prestation == 'p' %>
      <dd><%= 'P-Livret' %></dd>
      <% elsif @prestation.etat_prestation == 'p' %>
      <dd><%= 'T-Livret' %></dd>
      <% end %>
      <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
      <dd><%= number_to_currency(@prestation.somme, precision: 0,  unit: " F CFA", format: "%n %u") %></dd>
      <dt><strong><%= model_class.human_attribute_name(:payee) %>:</strong></dt>
      <dd><%= number_to_currency(@prestation.payee, precision: 0,  unit: " F CFA", format: "%n %u") %></dd>
      <dt><strong>Reste:</strong></dt>
  <dd><%= number_to_currency(@prestation.somme-@prestation.payee, precision: 0,  unit: " F CFA", format: "%n %u") %></dd>
    </dl>
  </div><!-- blog2 -->

  


</div><!-- ligne3 -->




