<%- model_class = Vente -%>
<div class="page-header">
  <h3><%= 'BOUTIQUES' %></h3>
</div>
<table id="boutiques" class="table table-striped table-hover table-condensed">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:boutique_id) %></th>
    <th><%= model_class.human_attribute_name(:total) %></th>
    <th><%= model_class.human_attribute_name(:payee) %></th>
    <th><%= model_class.human_attribute_name(:acount) %></th>

    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <%
     @somme=0
     @payee=0
     @i=1
     @crediteurs_boutiques.each do |vente|
       @somme+=vente.somme
       @payee+=vente.payee
  %>
      <tr>
        <td><%= @i %></td>
        <td><%= link_to vente.name, boutique_path(vente.boutique_id), :target => '_blank'  %></td>
        <td><%= number_to_currency(vente.somme, precision: 0,  unit: "", format: "%n %u") %></td>
        <td><%= number_to_currency(vente.payee, precision: 0,  unit: "", format: "%n %u") %></td>
        <td><%= number_to_currency(vente.somme-vente.payee, precision: 0,  unit: "", format: "%n %u") %></td>
        <td>

        </td>
      </tr>
  <% @i+=1
     end %>
  </tbody>
  <% if current_user.role == 'Root' %>
      <tfoot>
      <tr>
        <th colspan="5"><%= 'TOTAL' %></th>
        <th ><%= number_to_currency(@somme, precision: 0, unit: "", format: "%n %u") %></th>
        <th ><%= number_to_currency(@payee, precision: 0, unit: "", format: "%n %u") %></th>
        <th ><%= number_to_currency(@somme-@payee, precision: 0, unit: "", format: "%n %u") %></th>
        <th colspan="3"><%= '' %></th>
      </tr>
      </tfoot>
  <% end  %>
</table>

