<% title "VENTE CONTENUE" %>
<div class="row">
  <%- model_class = Vente -%>
  <div class="page-header">
    <h3><%=t '.title', :default => model_class.model_name.human %> contenu</h3>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_vente_path,
                :class => 'btn btn-primary' %>
  </div>
</div>
<div class="row">

  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                ventes_path, :class => 'btn-xs btn-info'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_vente_path(@vente), :class => 'btn-xs btn-primary' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                vente_path(@vente),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn-xs btn-danger' %>

    <%= link_to t('.pdf', :default => t("helpers.links.pdf")),
                vente_path(@vente, format: "pdf"), :class => 'btn-xs btn-info'  %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
<dl class="dl-horizontal">
  <% if @vente.boutique_id != -1 %>
  <dt><strong><%= model_class.human_attribute_name(:boutique_id) %>:</strong></dt>
  <dd><%= link_to @bou.name, boutique_path(@bou.id), :target => '_blank' %></dd>
  <% elsif @vente.client_id != -1 %>
  <dt><strong><%= model_class.human_attribute_name(:client_abonnée) %>:</strong></dt>
  <dd><%= link_to @cli.nom, client_path(@cli.id), :target => '_blank' %></dd>
  <% elsif @vente.boutique_id == -1 and @vente.client_id == -1  %>
  <dt><strong><%= model_class.human_attribute_name(:client_libre) %>:</strong></dt>
  <dd><%= @vente.client_libre %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @vente.date_vente.strftime("%d %b %Y à %H:%M") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <% if @vente.type_ve == 'C' %>
  <dd><%= 'Cadre' %></dd>
  <% elsif @vente.type_ve == 'A' %>
  <dd><%= 'Article' %></dd>
  <% end %>
  </dl>
  </div>
<div class="col-sm-6">
  <dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:etat) %>:</strong></dt>
  <% if @vente.etat_vente == 'n' %>
  <dd><%= 'N-Livret' %></dd>
  <% elsif @vente.etat_vente == 'p' %>
  <dd><%= 'P-Livret' %></dd>
  <% elsif @vente.etat_vente == 'p' %>
  <dd><%= 'T-Livret' %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
  <dd><%= number_to_currency(@vente.somme, precision: 0,  unit: " F CFA", format: "%n %u") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payee) %>:</strong></dt>
  <dd><%= number_to_currency(@vente.payee, precision: 0,  unit: " F CFA", format: "%n %u") %></dd>
  <dt><strong>Reste:</strong></dt>
  <dd><%= number_to_currency(@vente.somme-@vente.payee, precision: 0,  unit: " F CFA", format: "%n %u") %></dd>
  
</dl>
</div>
</div>


