<%= simple_form_for @vente, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :date_vente %>
  <%= f.association :boutique %>
  <%= f.association :client, label_method: :nom   %>
  <%= f.input :client_libre %>
  <%= f.collection_radio_buttons :type_ve, [['C', 'Cadre'], ['A', 'Article']], :first, :last %>
  <!--<%= f.input :etat_vente %>
  <%= f.input :somme %>
  <%= f.input :payee %>-->
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ventes_path, :class => 'btn' %>
  </div>
<% end %>
