<%= simple_form_for(@vente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :boutique %>
    <%= f.association :client %>
    <%= f.input :clients %>
    <%= f.input :date_vente %>
    <%= f.input :etat_vente %>
    <%= f.input :somme %>
    <%= f.input :payee %>
    <%= f.input :type %>
    <%= f.input :etat_vente %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
