<h1>Listing ventes</h1>

<table>
  <thead>
    <tr>
      <th>Boutique</th>
      <th>Client</th>
      <th>Clients</th>
      <th>Date vente</th>
      <th>Etat vente</th>
      <th>Somme</th>
      <th>Payee</th>
      <th>Type</th>
      <th>Etat vente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ventes.each do |vente| %>
      <tr>
        <td><%= vente.boutique %></td>
        <td><%= vente.client %></td>
        <td><%= vente.clients %></td>
        <td><%= vente.date_vente %></td>
        <td><%= vente.etat_vente %></td>
        <td><%= vente.somme %></td>
        <td><%= vente.payee %></td>
        <td><%= vente.type %></td>
        <td><%= vente.etat_vente %></td>
        <td><%= link_to 'Show', vente %></td>
        <td><%= link_to 'Edit', edit_vente_path(vente) %></td>
        <td><%= link_to 'Destroy', vente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vente', new_vente_path %>
