<p id="notice"><%= notice %></p>

<p>
  <strong>Dimention:</strong>
  <%= @formatphoto.dimention %>
</p>

<p>
  <strong>Info:</strong>
  <%= @formatphoto.info %>
</p>

<%= link_to 'Edit', edit_formatphoto_path(@formatphoto) %> |
<%= link_to 'Back', formatphotos_path %>
