<h1>Listing tbanques</h1>

<table>
  <thead>
    <tr>
      <th>Banque</th>
      <th>Type rv</th>
      <th>Montant</th>
      <th>Porteur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tbanques.each do |tbanque| %>
      <tr>
        <td><%= tbanque.banque %></td>
        <td><%= tbanque.type_rv %></td>
        <td><%= tbanque.montant %></td>
        <td><%= tbanque.porteur %></td>
        <td><%= link_to 'Show', tbanque %></td>
        <td><%= link_to 'Edit', edit_tbanque_path(tbanque) %></td>
        <td><%= link_to 'Destroy', tbanque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tbanque', new_tbanque_path %>
