<%= simple_form_for [@vente, @venteligne], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @vente.type_ve == 'A' %>
  <!--<%= f.association :article , required: true %>-->
  <%= f.association :article, collection: Article.where.not(id: Venteligne.where("vente_id = ?", @vente.id)), prompt: "Choose a article" %>
<% elsif @vente.type_ve == 'C'%>
  <!--<%= f.association :cadre, label_method: :numerobaguete, required: true %>-->
  <%= f.association :cadre, collection: Cadre.all(order: 'numerobaguete'), prompt: "Choose a cadre" %>
<% end %>
  <%= f.input :qte, input_html: { value: '1'} %>
  <%= f.input :prix_u, input_html: { placeholder: 'Prix unitaire'} %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-success' %>
  
  </div>
<% end %>
