<h1>Listing ventelignes</h1>

<table>
  <thead>
    <tr>
      <th>Vente</th>
      <th>Qte</th>
      <th>Qtelivre</th>
      <th>Montant</th>
      <th>Etat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ventelignes.each do |venteligne| %>
      <tr>
        <td><%= venteligne.vente %></td>
        <td><%= venteligne.qte %></td>
        <td><%= venteligne.qtelivre %></td>
        <td><%= venteligne.montant %></td>
        <td><%= venteligne.etat %></td>
        <td><%= link_to 'Show', venteligne %></td>
        <td><%= link_to 'Edit', edit_venteligne_path(venteligne) %></td>
        <td><%= link_to 'Destroy', venteligne, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venteligne', new_venteligne_path %>
