<%= simple_form_for [@achat, @aligne], :html => { :class => 'form-horizontal' } do |f| %>
<% if @achat.type_ac == 'A' %>
  <%= f.association :article , required: true %>
<% elsif @achat.type_ac == 'C'%>
  <%= f.association :cadre, label_method: :numerobaguete, required: true %>
<% end %>
  <%= f.input :qte, input_html: { value: '1'} %>
  <%= f.input :prix_u, input_html: { placeholder: '1000'} %>
  <!--<%= f.input :qtelivre %>
  <%= f.input :etat %>-->
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-success' %>
  </div>
<% end %>
