<%= simple_form_for(@aligne) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :achat %>
    <%= f.input :qte %>
    <%= f.input :qtelivre %>
    <%= f.input :montant %>
    <%= f.input :etat %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
