<%= simple_form_for [@achat, @aligne], :html => { :class => 'form-horizontal' } do |f| %>
<% if @achat.type_ac == 'A' %>
  <%= f.association :article %>
<% elsif @achat.type_ac == 'C'%>
  <%= f.association :cadre, label_method: :numerobaguete %>
<% end %>
  <%= f.input :qte %>
  <%= f.input :prix_u %>
  <!--<%= f.input :qtelivre %>
  <%= f.input :etat %>-->
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
