<%= simple_form_for [@achat, @aligne], :html => { :class => 'form-horizontal' } do |f| %>
<% if @achat.type_ac == 'A' %>
<%= f.association :article, collection: Article.list.where.not(id: Aligne.select('article_id').where("alignes.achat_id = ?", @achat.id)), :label_method => lambda { |article| "#{article.name} | #{article.reference}"}, :include_blank => false %>
<% elsif @achat.type_ac == 'C'%>
  <%= f.association :cadre, collection: Cadre.list.where.not(id: Aligne.select('cadre_id').where("alignes.achat_id = ?", @achat.id)), :label_method => lambda { |cadre| "#{cadre.numerobaguete}"}, :include_blank => false %>
<% end %>
  <%= f.input :qte, input_html: { value: '1'} %>
  <%= f.input :prix_u, input_html: { placeholder: 'Prix unitaire'} %>
 
 
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-success' %>
  </div>
<% end %>
