<h1>Modifier les produits coché</h1>
<%= form_tag update_multiple_achat_alignes_path, method: :put do %>

    <table>
      <thead>
        <!--<tr>
          <th><%= 'Produit' %></th>
          <th><%= 'Qte' %></th>
          <th><%= 'Qte-livret' %></th>
          <th><%= 'Prix-unitaire' %></th>
        </tr>-->
      </thead>
      <tbody>
      <% @alignes2.each do |aligne| %>
          <%= simple_fields_for "alignes[]", aligne do |f| %>
        <tr>
          <% if @achat.type_ac == 'A' %>
              <td>
                <%= f.association :article, :label_method => lambda { |article| "#{article.name} | #{article.reference}"}, :include_blank => false %>
              </td>
          <% elsif @achat.type_ac == 'C'%>
              <td>
                <%= f.association :cadre, :label_method => lambda { |cadre| "#{cadre.numerobaguete}"}, :include_blank => false %>
              </td>
          <% end %>
            <td>
              <%= f.input :qte %>
            </td>
            <td>
              <%= f.input :qtelivre %>
            </td>
            <td>
              <%= f.input :prix_u %>
            </td>
        </tr>
          <% end %>
      <% end  %>
      </tbody>
    </table>

    <div class="form-actions">
      <%= submit_tag "UPDATE", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  [@achat], :class => 'btn' %>
    </div>
<% end  %>