<% title "ACHAT CONTENUE" %>

<div class="row ligne1">
  <%- model_class = Achat -%>
  <div class="page-header">
    <h3><%= t '.title', :default => model_class.model_name.human %> contenu</h3>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_achat_path,
                :class => 'btn btn-primary' %>
  </div>
</div><!-- ligne1 -->

<div class="row ligne2">
  <div class="col-sm-6 blog1">
    <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  achats_path, :class => 'btn-xs btn-info' %>
      <% if current_user.role != 'Root'  %>
          <% if @achat.date_achat > Time.now - 1.days  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_achat_path(@achat), :class => 'btn-xs btn-primary' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  achat_path(@achat),
                  :method => 'delete',
                  :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                  :class => 'btn-xs btn-danger' %>
          <% end  %>
      <% elsif current_user.role == 'Root'  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_achat_path(@achat), :class => 'btn-xs btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      achat_path(@achat),
                      :method => 'delete',
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn-xs btn-danger' %>
      <% end  %>
    </div>
  </div>
  <!-- blog1 -->

  <div class="col-sm-6 blog2">
    <%= link_to t('.pdf', :default => t("helpers.links.pdf")),
                achat_path(@achat, format: "pdf"), :class => 'btn-xs btn-info' %>

  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:fournisseur_id) %>:</strong></dt>
      <% if @achat.fournisseur_id != -1 %>
          <dd><%= link_to @fourni.name_company, fournisseur_path(@fourni.id), :target => '_blank' %></dd>
      <% else %>
          <dd><%= @achat.fournisseur_libre %></dd>
      <% end %>
      <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
      <dd><%= @achat.date_achat.strftime("%d %b %Y à %H:%M") %></dd>
    </dl>
  </div>
  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:etat) %>:</strong></dt>
      <% if @achat.etat_achat == 'n' %>
          <dd><%= 'N-Livret' %></dd>

      <% elsif @achat.etat_achat == 'p' %>
          <dd><%= 'P-Livret' %></dd>
      <% elsif @achat.etat_achat == 't' %>
          <dd><%= 'T-Livret' %></dd>
      <% end %>
      <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
      <dd><%= number_to_currency(@achat.somme, precision: 0, unit: "#{@monait.code_money}", format: "%n %u") %></dd>
      <dt><strong><%= model_class.human_attribute_name(:payee) %>:</strong></dt>
      <dd><%= number_to_currency(@achat.payee, precision: 0, unit: "#{@monait.code_money}", format: "%n %u") %></dd>
      <dt><strong>Reste:</strong></dt>
      <dd><%= number_to_currency(@achat.somme-@achat.payee, precision: 0, unit: "#{@monait.code_money}", format: "%n %u") %></dd>
    </dl>
  </div>
</div>
