<%= simple_form_for @achat, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
  <p>
  <%= f.association :fournisseur, label_method: :name_company %>
  </p>
  <p>
  <%= f.input :date_achat %>
  </p>
  <%= f.collection_radio_buttons :type_ac, [['C', 'Cadre'], ['A', 'Article']], :first, :last %>
  <!--<%= f.input :somme %>
  <%= f.input :payee %>
  <%= f.input :etat_achat %>-->
</fieldset>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                achats_path, :class => 'btn' %>
  </div>
<% end %>
