<%= simple_form_for @achat, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :fournisseur, label_method: :name_company %>
  <%= f.input :date_achat %>
  <%= f.input :type_ac %>
  <%= f.input :somme %>
  <%= f.input :payee %>
  <%= f.input :etat_achat %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                achats_path, :class => 'btn' %>
  </div>
<% end %>
