<h1>Listing achats</h1>

<table>
  <thead>
    <tr>
      <th>Fournisseur</th>
      <th>Date achat</th>
      <th>Type</th>
      <th>Somme</th>
      <th>Payee</th>
      <th>Etat achat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @achats.each do |achat| %>
      <tr>
        <td><%= achat.fournisseur %></td>
        <td><%= achat.date_achat %></td>
        <td><%= achat.type %></td>
        <td><%= achat.somme %></td>
        <td><%= achat.payee %></td>
        <td><%= achat.etat_achat %></td>
        <td><%= link_to 'Show', achat %></td>
        <td><%= link_to 'Edit', edit_achat_path(achat) %></td>
        <td><%= link_to 'Destroy', achat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Achat', new_achat_path %>
