
<div class="col-sm-2">
	<%= render 'layouts/sidebar'  %>
</div>


<div class="col-sm-8">
	<%= render 'detail'  %>
	<hr />
	<%= render 'alignes/alignes'  %>
</div>

<div class="col-sm-2">
	<%= render 'alignes/form_aligne'  %>
	<hr />
	<% if @achat.somme!=0 %>
	<%= render 'paiements/form_apaie'  %>
	<% end %>
</div>