
<%- model_class = Paiement -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>
<table id="paiements" class="table table-striped table-hover table-condensed display">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:date) %></th>
    <th><%= model_class.human_attribute_name(:compte) %></th>
    <th><%= model_class.human_attribute_name(:motif) %></th>
    <th><%= model_class.human_attribute_name(:montant) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <%
     @montant=0
     @i=1
     @paiements.each do |paiement|
       @montant+=paiement.montant
  %>
      <tr>
        <td><%= @i %></td>
        <td><%= paiement.datepaiement.strftime("%d %b %Y à %H:%M") %></td>
        <td><%= paiement.nom+' / '+paiement.compte %></td>
        <td><%= paiement.motif %></td>
        <td><%= number_to_currency(paiement.montant, precision: 0,  unit: "", format: "%n %u") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_client_paiement_path(@client, paiement), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      [@client, paiement],
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% @i+=1
     end %>
  </tbody>
  <tfoot>
  <tr>
    <th colspan="4"><%= 'TOTAL' %></th>
    <th ><%= number_to_currency(@montant, precision: 0, unit: "", format: "%n %u") %></th>
    <th colspan="3"><%= '' %></th>
  </tr>
  </tfoot>
</table>
