<table class="table table-striped table-hover table-condensed">
  <thead>

  <tr>

    <th colspan="6" ><%= 'VENTE' %></th>
    <th colspan="6" ><%= 'ACHAT' %></th>
    <th rowspan="3" ><%= 'DEPENSE' %></th>

  </tr>

  <tr>

    <th colspan="2" ><%= 'TOTAL' %></th>
    <th colspan="2" ><%= 'PAYEE' %></th>
    <th colspan="2" ><%= 'RESTE' %></th>

    <th colspan="2" ><%= 'TOTAL' %></th>
    <th colspan="2" ><%= 'PAYEE' %></th>
    <th colspan="2" ><%= 'RESTE' %></th>

  </tr>

  <tr>

    <th><%= 'REEL' %></th>
    <th><%= 'RETOURE' %></th>
    <th><%= 'REEL' %></th>
    <th><%= 'RETOURE' %></th>
    <th><%= 'REEL' %></th>
    <th><%= 'RETOURE' %></th>


    <th><%= 'REEL' %></th>
    <th><%= 'RETOURE' %></th>
    <th><%= 'REEL' %></th>
    <th><%= 'RETOURE' %></th>
    <th><%= 'REEL' %></th>
    <th><%= 'RETOURE' %></th>


  </tr>

  </thead>

  <tbody>

      <tr>
        <td><%= number_to_currency(@vttotal, precision: 0,  unit: " ", format: "%n %u") %></td>
        <td><%= number_to_currency(@vrttotal, precision: 0,  unit: " ", format: "%n %u") %></td>
        <td><%= number_to_currency(@ventes_paiement_total, precision: 0,  unit: " ", format: "%n %u") %></td>
        <td><%= number_to_currency(@vrptotal, precision: 0,  unit: " ", format: "%n %u") %></td>
        <td><%= number_to_currency(@vttotal-@vptotal, precision: 0,  unit: " ", format: "%n %u") %></td>
        <td><%= number_to_currency(@vrttotal-@vrptotal, precision: 0,  unit: " ", format: "%n %u") %></td>


        <td><%= number_to_currency(@attotal, precision: 0,  unit: " ", format: "%n %u") %></td>
        <td><%= number_to_currency(@arttotal, precision: 0,  unit: " ", format: "%n %u") %></td>
        <td><%= number_to_currency(@achats_paiement_total, precision: 0,  unit: " ", format: "%n %u") %></td>
        <td><%= number_to_currency(@arptotal, precision: 0,  unit: " ", format: "%n %u") %></td>
        <td><%= number_to_currency(@attotal-@aptotal, precision: 0,  unit: " ", format: "%n %u") %></td>
        <td><%= number_to_currency(@arttotal-@arptotal, precision: 0,  unit: " ", format: "%n %u") %></td>

        <td><%= number_to_currency(@dttotal, precision: 0,  unit: " ", format: "%n %u") %></td>
      </tr>

  </tbody>
</table>