
<%- model_class = Paiement -%>
<div class="page-header">
  <h3><%= "Paiement Prestation - #{number_to_currency(@prestations_paiement_total, precision: 0,  unit: "F CFA", format: "%n %u")}" %></h3>
</div>
<table id="prestations" class="table table-striped table-hover table-condensed display">

  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:client) %></th>
    <th><%= model_class.human_attribute_name(:client_libre) %></th>
    <th><%= model_class.human_attribute_name(:N_prestation) %></th>
    <th><%= model_class.human_attribute_name(:compte) %></th>
    <th><%= model_class.human_attribute_name(:motif) %></th>
    <th><%= model_class.human_attribute_name(:montant) %></th>
  </tr>
  </thead>
  <tbody>
  <% @i=1
     @prestations_paiement.each do |paiement| %>
      <tr>
        <td><%= @i %></td>
        <td><%= paiement.nom_cl+' / '+paiement.prenom_cl %></td>
        <td><%= paiement.client_libre %></td>
        <td><%= paiement.prestations_num %></td>
        <td><%= paiement.nom+' / '+paiement.compte %></td>
        <td><%= paiement.motif %></td>
        <td><%= number_to_currency(paiement.montant, precision: 0,  unit: "", format: "%n %u") %></td>
        <td>

        </td>
      </tr>
  <% @i+=1
     end %>
  </tbody>
</table>
