<h1>Listing livraisonlogs</h1>

<table>
  <thead>
    <tr>
      <th>Date liv</th>
      <th>Achat</th>
      <th>Produit</th>
      <th>Qte</th>
      <th>Vente</th>
      <th>Etat</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @livraisonlogs.each do |livraisonlog| %>
      <tr>
        <td><%= livraisonlog.date_liv %></td>
        <td><%= livraisonlog.achat %></td>
        <td><%= livraisonlog.produit %></td>
        <td><%= livraisonlog.qte %></td>
        <td><%= livraisonlog.vente %></td>
        <td><%= livraisonlog.etat %></td>
        <td><%= livraisonlog.user %></td>
        <td><%= link_to 'Show', livraisonlog %></td>
        <td><%= link_to 'Edit', edit_livraisonlog_path(livraisonlog) %></td>
        <td><%= link_to 'Destroy', livraisonlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Livraisonlog', new_livraisonlog_path %>
