<p id="notice"><%= notice %></p>

<p>
  <strong>Date liv:</strong>
  <%= @livraisonlog.date_liv %>
</p>

<p>
  <strong>Achat:</strong>
  <%= @livraisonlog.achat %>
</p>

<p>
  <strong>Produit:</strong>
  <%= @livraisonlog.produit %>
</p>

<p>
  <strong>Qte:</strong>
  <%= @livraisonlog.qte %>
</p>

<p>
  <strong>Vente:</strong>
  <%= @livraisonlog.vente %>
</p>

<p>
  <strong>Etat:</strong>
  <%= @livraisonlog.etat %>
</p>

<p>
  <strong>User:</strong>
  <%= @livraisonlog.user %>
</p>

<%= link_to 'Edit', edit_livraisonlog_path(@livraisonlog) %> |
<%= link_to 'Back', livraisonlogs_path %>
