<h1>Listing depenses</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Categoriedep</th>
      <th>Montant</th>
      <th>Etat dep</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @depenses.each do |depense| %>
      <tr>
        <td><%= depense.description %></td>
        <td><%= depense.categoriedep %></td>
        <td><%= depense.montant %></td>
        <td><%= depense.etat_dep %></td>
        <td><%= link_to 'Show', depense %></td>
        <td><%= link_to 'Edit', edit_depense_path(depense) %></td>
        <td><%= link_to 'Destroy', depense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Depense', new_depense_path %>
