<%= simple_form_for(@tcoffre) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date_tc %>
    <%= f.input :beneficier %>
    <%= f.input :type_tc %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
