<%= simple_form_for @tcoffre, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :date_tc %>
  <%= f.input :beneficier %>
  <%= f.input :type_tc %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tcoffres_path, :class => 'btn' %>
  </div>
<% end %>
