<p id="notice"><%= notice %></p>

<p>
  <strong>Date tc:</strong>
  <%= @tcoffre.date_tc %>
</p>

<p>
  <strong>Beneficier:</strong>
  <%= @tcoffre.beneficier %>
</p>

<p>
  <strong>Type tc:</strong>
  <%= @tcoffre.type_tc %>
</p>

<%= link_to 'Edit', edit_tcoffre_path(@tcoffre) %> |
<%= link_to 'Back', tcoffres_path %>
