<p id="notice"><%= notice %></p>

<p>
  <strong>Paiement:</strong>
  <%= @caiss.paiement %>
</p>

<p>
  <strong>Font:</strong>
  <%= @caiss.font %>
</p>

<%= link_to 'Edit', edit_caiss_path(@caiss) %> |
<%= link_to 'Back', caisses_path %>
