<% title "#{@fournisseur.name_company}" %>
<%- model_class = Fournisseur -%>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              fournisseurs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_fournisseur_path(@fournisseur), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              fournisseur_path(@fournisseur),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>


<div class="page-header">
  <h1><%= @fournisseur.name_company %></h1>
</div>

<ul class="nav nav-pills">

  <li class="active"><%= link_to 'Profile', fournisseur_path() %></li>
  <!--<li ><%= link_to 'Facture', '', :class => "badge" %></li>-->
  <li><%= link_to  "Commande #{@achats.size}", fournisseur_path(:commandes_fournisseur => true)  %></li>
  <li><%= link_to  "Paiement #{@paiements.size}", fournisseur_path(:tout_paiement_fournisseur => true) %></li>
</ul>

<% if params[:commandes_fournisseur] %>
    <% if @achats.size!=0 %>
        <%= render 'commandes_fournisseur' %>
    <% else %>
        <h1><%= 'No found!!!' %></h1>
    <% end %>
<% elsif params[:tout_paiement_fournisseur] %>
    <% if @paiements.size!=0 %>
        <%= render :partial => 'paiements_fournisseur' %>
    <% else %>
        <h1><%= 'No found!!!' %></h1>
    <% end %>
<% else %>
    <%= render :partial => 'profile' %>

<% end %>

