<%= simple_form_for @fournisseur, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name_company %>
  <%= f.input :nom %>
  <%= f.input :prenom %>
  <%= f.input :phone %>
  <%= f.input :address %>
  <%= f.input :email %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                fournisseurs_path, :class => 'btn' %>
  </div>
<% end %>
