<h1>Listing fournisseurs</h1>

<table>
  <thead>
    <tr>
      <th>Name company</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fournisseurs.each do |fournisseur| %>
      <tr>
        <td><%= fournisseur.name_company %></td>
        <td><%= fournisseur.nom %></td>
        <td><%= fournisseur.prenom %></td>
        <td><%= fournisseur.phone %></td>
        <td><%= fournisseur.address %></td>
        <td><%= fournisseur.email %></td>
        <td><%= link_to 'Show', fournisseur %></td>
        <td><%= link_to 'Edit', edit_fournisseur_path(fournisseur) %></td>
        <td><%= link_to 'Destroy', fournisseur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fournisseur', new_fournisseur_path %>
