<p id="notice"><%= notice %></p>

<p>
  <strong>Name company:</strong>
  <%= @fournisseur.name_company %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @fournisseur.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @fournisseur.prenom %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @fournisseur.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @fournisseur.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @fournisseur.email %>
</p>

<%= link_to 'Edit', edit_fournisseur_path(@fournisseur) %> |
<%= link_to 'Back', fournisseurs_path %>
