<p id="notice"><%= notice %></p>

<p>
  <strong>Numerobaguete:</strong>
  <%= @cadre.numerobaguete %>
</p>

<p>
  <strong>Info:</strong>
  <%= @cadre.info %>
</p>

<%= link_to 'Edit', edit_cadre_path(@cadre) %> |
<%= link_to 'Back', cadres_path %>
