<h1>Listing banques</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banques.each do |banque| %>
      <tr>
        <td><%= banque.nom %></td>
        <td><%= link_to 'Show', banque %></td>
        <td><%= link_to 'Edit', edit_banque_path(banque) %></td>
        <td><%= link_to 'Destroy', banque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banque', new_banque_path %>
