<%= simple_form_for [@vente, @paiement], :html => { :class => 'form-horizontal' } do |f| %>

<% if @vente.client_id != -1%>
<% end %>
<%= f.input :client_id, :as => :hidden %>
<%= f.input :boutique_id,  :as => :hidden %>
<%= f.input :type_paiement, :as => :hidden, input_html: {value: 'pv'} %>
<%= f.input :datepaiement, :as => :hidden, input_html: {value: Time.now} %>
<%= f.association :banque, :label_method => lambda { |banque| "#{banque.nom} | #{banque.compte}"}, :include_blank => false %>

<%= f.input :motif, input_html: {:value => 'ESPECE'} %>
<%= f.input :montant, input_html: {:value => @vente.somme-@vente.payee} %>
<div class="form-actions">
  <%= f.button :submit, 'Payer', :class => 'btn btn-success' %>

</div>
<% end %>
