<h1>Listing paiements</h1>

<table>
  <thead>
    <tr>
      <th>Vente</th>
      <th>Client</th>
      <th>Achat</th>
      <th>Fournisseur</th>
      <th>Datepaiement</th>
      <th>Motif</th>
      <th>Montant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paiements.each do |paiement| %>
      <tr>
        <td><%= paiement.vente %></td>
        <td><%= paiement.client %></td>
        <td><%= paiement.achat %></td>
        <td><%= paiement.fournisseur %></td>
        <td><%= paiement.datepaiement %></td>
        <td><%= paiement.motif %></td>
        <td><%= paiement.montant %></td>
        <td><%= link_to 'Show', paiement %></td>
        <td><%= link_to 'Edit', edit_paiement_path(paiement) %></td>
        <td><%= link_to 'Destroy', paiement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paiement', new_paiement_path %>
