<%= simple_form_for(@tcaiss) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date_tc %>
    <%= f.input :crencier %>
    <%= f.input :type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
