<p id="notice"><%= notice %></p>

<p>
  <strong>Date tc:</strong>
  <%= @tcaiss.date_tc %>
</p>

<p>
  <strong>Crencier:</strong>
  <%= @tcaiss.crencier %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tcaiss.type %>
</p>

<%= link_to 'Edit', edit_tcaiss_path(@tcaiss) %> |
<%= link_to 'Back', tcaisses_path %>
