
      
        <div class="col-sm-2">
          <div class="list-group">
            
            <%= link_to "FOURNISSEURS", fournisseurs_path, :class=>"list-group-item"  %>
            <%= link_to "ENTREE", achats_path, :class=>"list-group-item"  %>
            <%= link_to "CLIENTS", clients_path, :class=>"list-group-item"  %>
            <%= link_to "VENTE", ventes_path, :class=>"list-group-item"  %>
            <%= link_to "EMPLOYEE", employes_path, :class=>"list-group-item"  %>
            <%= link_to "STOCKS", stocks_path, :class=>"list-group-item"  %>
            <%= link_to "CADRES", cadres_path, :class=>"list-group-item"  %>
            <%= link_to "ARTICLES", articles_path, :class=>"list-group-item"  %>
            
          </div>
        </div><!-- /.col-sm-2 -->
        
     